{% extends "layout.html" %}

{% block body %}
    
    <img alt="Logo" src="/static/36g4sG-LogoMakr.png">
    <h1>Kreiranje narudzbe</h1>
    <form action="/spremi" method="post">
        <div>
            
            <input autocomplete="off" autofocus="ime" name="ime" placeholder="ime" type="text">
            
            <input autocomplete="off" autofocus="prezime" name="prezime" placeholder="Prezime" type="text"><br>  
   
            <input autocomplete="off" autofocus="adresa" name="adresa" placeholder="Adresa" type="text"><br>     
 
            <input autocomplete="off" autofocus="grad" name="grad" placeholder="Grad" type="text"><br>       
              
            <input autocomplete="off" autofocus="broj_telefona" name="broj_telefona" placeholder="Broj telefona" type="number"><br>       
            
            {% for odjeca in odjeca %}
                <input name="odabrana_odjeca" type="radio" value= "{{ odjeca }}"> {{ odjeca }}<br>  
            {% endfor %}
            
        </div>

        <div>
            
            <input type="submit" value="Spremi"><br>  
                       
        </div>

        
    
    </form>

{% endblock %}